<!DOCTYPE html>
<html>
  <head>
    <title>Website Name</title>
    <meta charset="utf-8"> 
    <base href="../">
    
    <!-- CSS -->
    <!-- favicon -->
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <!-- components css -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <!-- custom css stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- responsive css stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
   
  </head>
  <body>
    <div id="wrapper">
      <!-- header -->
      <header>
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="images/logo.png" alt="">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar1">
              <form class="navbar-form navbar-left" role="search">
                <button type="submit" class="btn btn-link"><i class="glyphicon glyphicon-search"></i></button>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
              <ul class="ht-right">
                <!-- notifications -->
                <li class="dropdown menu-parent">
                  <a class="btn btn-link dropdown-toggle noti-alert" type="button" id="notifictions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    <!-- alert -->
                    <small></small>
                  </a>
                  <ul class="dropdown-menu custom-menu" aria-labelledby="notifictions">
                    <!--menu header -->
                    <li class="custom-menu-header">Notifications</li>
                    <!--menu body -->
                    <li class="scrollable-container">
                      <!-- notification -->
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!--menu fooster -->
                    <li class="custom-menu-footer">
                      <a href="notifications.html">See all notifications</a>
                    </li>
                  </ul>
                </li>
                <!-- messages -->
                <li class="dropdown menu-parent">
                  <a class="btn btn-link dropdown-toggle" type="button" id="messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <!-- alert -->
                    <small></small>
                  </a>
                  <ul class="dropdown-menu custom-menu" aria-labelledby="notifictions">
                    <!--menu header -->
                    <li class="custom-menu-header">messages</li>
                    <!--menu body -->
                    <li class="scrollable-container">
                      <!-- notification -->
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!--menu fooster -->
                    <li class="custom-menu-footer">
                      <a href="inbox.html">See all messages</a>
                    </li>
                  </ul>
                </li>
                
                <!-- profile -->
                <li class="dropdown menu-parent">
                  <a href="javascript:void(0)" class="btn btn-link dropdown-toggle" type="button" id="profile-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="avatar"><img src="images/avatar.png" alt=""></span>
                  </a>
                  <!-- dropdown menu -->
                  <ul class="dropdown-menu profile-menu" aria-labelledby="profile-menu">
                    <li>
                      <a href="javascript:void(0)">
                        <span class="avatar">
                          <img src="images/avatar.png" alt="">
                        </span>
                        <span>Jhon Deo</span>
                      </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="profile-view.html"><i class="fa fa-user" aria-hidden="true"></i>view profile</a></li>
                    <li><a href="inbox.html"><i class="fa fa-envelope" aria-hidden="true"></i>My inbox</a></li>
                    <li><a href="pracicles-list.html"><i class="fa fa-tasks" aria-hidden="true"></i>my tasks</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- main navigation starts-->
      <div class="header-nav">
        <nav class="navbar bg-2" id="sticky-nav">
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="faculty-pages/dashboard.html">Dashboard</a></li>
              <li><a href="faculty-pages/students-list.html">My Students</a></li>
              <li><a href="faculty-pages/faculty-batch-list.html">My Batches</a></li>
              <li><a href="faculty-pages/practicles-approve.html">Practicals to Rate</a></li>
              <li><a href="faculty-pages/pending-topics.html">Pending topics</a></li>
              <li><a href="faculty-pages/my-rating.html">My Rating</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- main navigation ends here-->
      <main>
        <div class="content-wrapper">
          <div class="content-wrapper-before bg-2"></div>
          <!-- page title -->
          <div class="content-header">
            <h2>Dashboard</h2>
          </div>
          <!-- content -->
          <div class="content-body">
            <div class="row flex-row">
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card bg-gradient-danger">
                      <div class="card-header">
                        <h3 class="white">my learning skills</h3>
                        <button type="button" class="btn btn-default refer-link">Done</button>
                      </div>
                      <div class="card-content">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="refer-icon">
                              <img src="images/refer.png" alt="">
                            </div>
                          </div>
                          <div class="col-md-9 refer-content">
                            <ul>
                              <li class="text-uppercase">php</li>
                              <li class="text-uppercase">boostrap</li>
                            </ul>
                          </div>
                          <div class="col-md-12">
                            <p class="h4 white text-right">Due date: <b>15-02-2019</b></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="card bg-gradient-success">
                      <div class="card-header">
                        <h3 class="white">my learning skills</h3>
                        <button type="button" class="btn btn-default refer-link">Done</button>
                      </div>
                      <div class="card-content">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="refer-icon">
                              <img src="images/refer.png" alt="">
                            </div>
                          </div>
                          <div class="col-md-9 refer-content">
                            <ul>
                              <li class="text-uppercase">php</li>
                              <li class="text-uppercase">boostrap</li>
                            </ul>
                          </div>
                          <div class="col-md-12">
                            <p class="h4 white text-right">Due date: <b>15-02-2019</b></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <h3>My Rating</h3>
                        <button class="btn btn-primary refer-link btn-sm">view</button>
                      </div>
                      <div class="card-content">
                        <div class="ovrl-rating">
                          <strong>3.0</strong>
                          <span class="star-rating custom-rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </span>
                        </div>
                        <div class="rating-ctgrys">
                          <ul>
                            <li class="flex-row">
                              <div>5<span class="fa fa-star checked"></span></div>
                              <div class="progress custom-progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                </div>
                              </div>
                              <div>5</div>
                            </li>
                            <li class="flex-row">
                              <div>4<span class="fa fa-star checked"></span></div>
                              <div class="progress custom-progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                </div>
                              </div>
                              <div>50</div>
                            </li>
                            <li class="flex-row">
                              <div>3<span class="fa fa-star checked"></span></div>
                              <div class="progress custom-progress">
                                <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                </div>
                              </div>
                              <div>50</div>
                            </li>
                            <li class="flex-row">
                              <div>2<span class="fa fa-star checked"></span></div>
                              <div class="progress custom-progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                                </div>
                              </div>
                              <div>50</div>
                            </li>
                            <li class="flex-row">
                              <div>1<span class="fa fa-star checked"></span></div>
                              <div class="progress custom-progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                                </div>
                              </div>
                              <div>50</div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9 blw">
                <div class="card">
                  <div class="card-header">
                    <h3>Today Batches - Class Topics</h3>
                  </div>
                  <div class="card-content">
                    <div class="row batches-slider">
                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="m-0 text-capitalize ">batch 1</h4>
                          </div>
                          <div class="card-content">
                            <h4 class="title">Module 1</h4>
                            <ul class="list-items">
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                            </ul>
                          </div>
                          <div class="card-footer flex-container">
                            <div>
                              <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;9:30 am to 10:30 am
                            </div>
                            <div>
                              <i class="fa fa-user" aria-hidden="true"></i>&nbsp;05
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="m-0 text-capitalize ">batch 2</h4>
                          </div>
                          <div class="card-content">
                            <h4 class="title">Module 1</h4>
                            <ul class="list-items">
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                            </ul>
                          </div>
                          <div class="card-footer flex-container">
                            <div>
                              <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;9:30 am to 10:30 am
                            </div>
                            <div>
                              <i class="fa fa-user" aria-hidden="true"></i>&nbsp;05
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="m-0 text-capitalize ">batch 3</h4>
                          </div>
                          <div class="card-content">
                            <h4 class="title">Module 1</h4>
                            <ul class="list-items">
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                            </ul>
                          </div>
                          <div class="card-footer flex-container">
                            <div>
                              <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;9:30 am to 10:30 am
                            </div>
                            <div>
                              <i class="fa fa-user" aria-hidden="true"></i>&nbsp;05
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="m-0 text-capitalize ">batch 4</h4>
                          </div>
                          <div class="card-content">
                            <h4 class="title">Module 1</h4>
                            <ul class="list-items">
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                              <li>lorem ipsum</li>
                            </ul>
                          </div>
                          <div class="card-footer flex-container">
                            <div>
                              <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;9:30 am to 10:30 am
                            </div>
                            <div>
                              <i class="fa fa-user" aria-hidden="true"></i>&nbsp;05
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card top-bar-green">
                  <div class="card-header">
                    <h3>Pending Topics</h3>
                    <div class="studnt-num">
                      <i class="fa fa-user" aria-hidden="true"></i>&nbsp;05
                    </div>
                  </div>
                  <div class="card-content">
                    <div class="table-responsive">
                      <table class="table table-striped custom-table">
                        <thead>
                          <tr>
                            <th class="text-capitalize">topic</th>
                            <th class="text-capitalize">no of students</th>
                            <th class="text-capitalize">from batches</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-uppercase">topic 1</td>
                            <td>05</td>
                            <td>02</td>
                          </tr>
                          <tr>
                            <td class="text-uppercase">topic 1</td>
                            <td>05</td>
                            <td>02</td>
                          </tr>
                          <tr>
                            <td class="text-uppercase">topic 1</td>
                            <td>05</td>
                            <td>02</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="text-right">
                      <button type="button" class="btn btn-primary btn-sm m-tb-10">view</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card top-bar-info">
                  <div class="card-header">
                    <h3>Paper For Correction</h3>
                    <div class="studnt-num">
                      <i class="fa fa-user" aria-hidden="true"></i>&nbsp;03
                    </div>
                  </div>
                  <div class="card-content">
                    <div class="table-responsive">
                      <table class="table table-striped custom-table">
                        <thead>
                          <tr>
                            <th class="text-capitalize">topic</th>
                            <th class="text-capitalize">no of papers</th>
                            <th class="text-capitalize">due date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-uppercase">topic 1</td>
                            <td>05</td>
                            <td>02-02-2019</td>
                          </tr>
                          <tr>
                            <td class="text-uppercase">topic 2</td>
                            <td>05</td>
                            <td><span class="text-danger">01-01-2019</span></td>
                          </tr>
                          <tr>
                            <td class="text-uppercase">topic 3</td>
                            <td>05</td>
                            <td>02</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="text-right">
                      <button type="button" class="btn btn-primary btn-sm m-tb-10">view</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card top-bar-warning">
                  <div class="card-header">
                    <h3>students to approve</h3>
                    <div class="studnt-num">
                      <i class="fa fa-user" aria-hidden="true"></i>&nbsp;03
                    </div>
                  </div>
                  <div class="card-content">
                    <div class="table-responsive">
                      <table class="table table-striped custom-table">
                        <thead>
                          <tr>
                            <th class="text-capitalize">Student name</th>
                            <th class="text-capitalize">batch name</th>
                            <th class="text-capitalize">topic</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-capitalize">raju</td>
                            <td>bt-01</td>
                            <td>html</td>
                          </tr>
                          <tr>
                            <td class="text-capitalize">raju</td>
                            <td>bt-01</td>
                            <td>css</td>
                          </tr>
                          <tr>
                            <td class="text-capitalize">raju</td>
                            <td>bt-01</td>
                            <td>js</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="text-right">
                      <button type="button" class="btn btn-primary btn-sm m-tb-10">view</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card top-bar-danger">
                  <div class="card-header">
                    <h3>Batches Running Delay</h3>
                    <div class="studnt-num">
                      <i class="fa fa-users" aria-hidden="true"></i>&nbsp;03
                    </div>
                  </div>
                  <div class="card-content">
                    <div class="table-responsive">
                      <table class="table table-striped custom-table">
                        <thead>
                          <tr>
                            <th class="text-capitalize">batch name</th>
                            <th class="text-capitalize">running delay</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-capitalize">bt-01</td>
                            <td>6 days</td>
                          </tr>
                          <tr>
                            <td class="text-capitalize">bt-01</td>
                            <td>6 days</td>
                          </tr>
                          <tr>
                            <td class="text-capitalize">bt-01</td>
                            <td>6 days</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="text-right">
                      <button type="button" class="btn btn-primary btn-sm m-tb-10">view</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card top-bar-green">
                  <div class="card-header">
                    <h3>My Students Results</h3>
                  </div>
                  <div class="card-content">
                    <div class="table-responsive">
                      <table class="table table-striped custom-table">
                        <thead>
                          <tr>
                            <th class="text-capitalize">Student name</th>
                            <th class="text-capitalize">test date</th>
                            <th class="text-capitalize">topic</th>
                            <th class="text-capitalize">marks</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-capitalize">raju</td>
                            <td>12-02-2019</td>
                            <td>html</td>
                            <td>
                              <div class="progress custom-progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">90%
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-capitalize">raju</td>
                            <td>12-02-2019</td>
                            <td>html</td>
                            <td>
                              <div class="progress custom-progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%">50%
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-capitalize">raju</td>
                            <td>12-02-2019</td>
                            <td>html</td>
                            <td>
                              <div class="progress custom-progress">
                                <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:30%">90%
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="text-right">
                      <button type="button" class="btn btn-primary btn-sm m-tb-10">view</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    <h3>My Rating&nbsp;<span class="text-muted">(10-02-2019)</span></h3>
                  </div>
                  <div class="card-content">
                    <img src="images/graph.png" alt="" width="100%">
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- js includes -->
    <!-- jquery library -->
    <script src='js/jquery-3.3.1.min.js'></script>

    <!-- Latest bootstrap compiled JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script>
      // bacthe slider
      $('.batches-slider').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
    </script>
  </body>
</html>