<!DOCTYPE html>
<html>
  <head>
    <title>Website Name</title>
    <meta charset="utf-8"> 
    <base href="../">
    <!-- CSS -->
    <!-- favicon -->
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <!-- components css -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <!-- custom css stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- responsive css stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
   
  </head>
  <body>
    <div id="wrapper">
      <!-- header -->
      <header>
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="images/logo.png" alt="">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar1">
              <form class="navbar-form navbar-left" role="search">
                <button type="submit" class="btn btn-link"><i class="glyphicon glyphicon-search"></i></button>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
              <ul class="ht-right">
                <!-- notifications -->
                <li class="dropdown menu-parent">
                  <a class="btn btn-link dropdown-toggle noti-alert" type="button" id="notifictions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    <!-- alert -->
                    <small></small>
                  </a>
                  <ul class="dropdown-menu custom-menu" aria-labelledby="notifictions">
                    <!--menu header -->
                    <li class="custom-menu-header">Notifications</li>
                    <!--menu body -->
                    <li class="scrollable-container">
                      <!-- notification -->
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!--menu fooster -->
                    <li class="custom-menu-footer">
                      <a href="notifications.html">See all notifications</a>
                    </li>
                  </ul>
                </li>
                <!-- messages -->
                <li class="dropdown menu-parent">
                  <a class="btn btn-link dropdown-toggle" type="button" id="messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <!-- alert -->
                    <small></small>
                  </a>
                  <ul class="dropdown-menu custom-menu" aria-labelledby="notifictions">
                    <!--menu header -->
                    <li class="custom-menu-header">messages</li>
                    <!--menu body -->
                    <li class="scrollable-container">
                      <!-- notification -->
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!--menu fooster -->
                    <li class="custom-menu-footer">
                      <a href="inbox.html">See all messages</a>
                    </li>
                  </ul>
                </li>
                
                <!-- profile -->
                <li class="dropdown menu-parent">
                  <a href="javascript:void(0)" class="btn btn-link dropdown-toggle" type="button" id="profile-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="avatar"><img src="images/avatar.png" alt=""></span>
                  </a>
                  <!-- dropdown menu -->
                  <ul class="dropdown-menu profile-menu" aria-labelledby="profile-menu">
                    <li>
                      <a href="javascript:void(0)">
                        <span class="avatar">
                          <img src="images/avatar.png" alt="">
                        </span>
                        <span>Jhon Deo</span>
                      </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="profile-view.html"><i class="fa fa-user" aria-hidden="true"></i>view profile</a></li>
                    <li><a href="inbox.html"><i class="fa fa-envelope" aria-hidden="true"></i>My inbox</a></li>
                    <li><a href="pracicles-list.html"><i class="fa fa-tasks" aria-hidden="true"></i>my tasks</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- main navigation starts-->
      <div class="header-nav">
        <nav class="navbar bg-2" id="sticky-nav">
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="faculty-pages/dashboard.html">Dashboard</a></li>
              <li><a href="faculty-pages/students-list.html">My Students</a></li>
              <li><a href="faculty-pages/faculty-batch-list.html">My Batches</a></li>
              <li class="active"><a href="faculty-pages/practicles-approve.html">Practicals to Rate</a></li>
              <li><a href="faculty-pages/pending-topics.html">Pending topics</a></li>
              <li><a href="faculty-pages/my-rating.html">My Rating</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- main navigation ends here-->
      <main>
        <div class="content-wrapper">
          <div class="content-wrapper-before bg-2"></div>
          <!-- page title -->
          <div class="content-header">
            <h2>Practicals to rate/comments </h2>
          </div>
          <!-- content -->
          <div class="content-body">
            <!-- Practical - Over due for rating -->
            <div class="card">
              <div class="card-header pending_practicles">
                <h3 class="text-capitalize">Over due for rating</h3>
                <!-- minmize -->
                <button class="btn btn-link minmize-btn" data-toggle="collapse" data-target="#overDueRating"><i class="fa fa-minus" aria-hidden="true"></i></button>
              </div>
              <!-- card-content -->
              <div class="card-content collapse in" id="overDueRating">
                <div class="table-responsive">       
                  <table class="table table-striped custom-table">
                    <thead>
                      <tr>
                        <th class="text-capitalize">S no</th>
                        <th class="text-capitalize">Student</th>
                        <th class="text-capitalize">Course Name</th>
                        <th class="text-capitalize">Modules</th>
                        <th class="text-capitalize text-center">Task details</th>
                        <th class="text-capitalize text-center">task file</th>
                        <th class="text-capitalize text=center">Action</th>
                        <th class="text-capitalize">Due date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td class="text-capitalize">xyz</td>
                        <td class="text-capitalize">web designing</td>
                        <td class="text-capitalize">html</td>
                        <td class="text-capitalize text-center">
                          <a class="btn btn-link p-0 view-icon" role="button" data-toggle='modal' data-target='#taskDetailsMOdal'>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </a>
                        </td>
                        <td class="p-0 text-center">
                          <a href="images/logo.png" download="file" class="btn btn-link file-btn"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                          </a>
                        </td>
                        <td>
                          <button class="btn btn-primary" type="button" data-toggle='modal' data-target='#addMarksModal'>Rate</button>
                        </td>
                        <td>12-03-2019</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td class="text-capitalize">xyz</td>
                        <td class="text-capitalize">web designing</td>
                        <td class="text-capitalize">html</td>
                        <td class="text-capitalize text-center">
                          <a class="btn btn-link p-0 view-icon" role="button" data-toggle='modal' data-target='#taskDetailsMOdal'>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </a>
                        </td>
                        <td class="p-0 text-center">
                          <a href="images/logo.png" download="file" class="btn btn-link file-btn"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                          </a>
                        </td>
                        <td>
                          <button class="btn btn-primary" type="button" data-toggle='modal' data-target='#addMarksModal'>Rate</button>
                        </td>
                        <td>12-03-2019</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td class="text-capitalize">xyz</td>
                        <td class="text-capitalize">web designing</td>
                        <td class="text-capitalize">html</td>
                        <td class="text-capitalize text-center">
                          <a class="btn btn-link p-0 view-icon" role="button" data-toggle='modal' data-target='#taskDetailsMOdal'>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </a>
                        </td>
                        <td class="p-0 text-center">
                          <a href="images/logo.png" download="file" class="btn btn-link file-btn"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                          </a>
                        </td>
                        <td>
                          <button class="btn btn-primary" type="button" data-toggle='modal' data-target='#addMarksModal'>Rate</button>
                        </td>
                        <td>12-03-2019</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Practical  waiting for your rating -->
            <div class="card">
              <div class="card-header approval_practicles ">
                <h3 class="text-capitalize">waiting for your rating</h3>
                <!-- minmize -->
                <button class="btn btn-link minmize-btn" data-toggle="collapse" data-target="#waitingForRating"><i class="fa fa-minus" aria-hidden="true"></i></button>
              </div>
              <!-- card-content -->
              <div class="card-content collapse in" id="waitingForRating">
                <div class="table-responsive">       
                  <table class="table table-striped custom-table">
                    <thead>
                      <tr>
                        <th class="text-capitalize">S no</th>
                        <th class="text-capitalize">Student</th>
                        <th class="text-capitalize">Course Name</th>
                        <th class="text-capitalize">Modules</th>
                        <th class="text-capitalize text-center">Task details</th>
                        <th class="text-capitalize text-center">task file</th>
                        <th class="text-capitalize text=center">Action</th>
                        <th class="text-capitalize">Due date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td class="text-capitalize">xyz</td>
                        <td class="text-capitalize">web designing</td>
                        <td class="text-capitalize">html</td>
                        <td class="text-capitalize text-center">
                          <a class="btn btn-link p-0 view-icon" role="button" data-toggle='modal' data-target='#taskDetailsMOdal'>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </a>
                        </td>
                        <td class="p-0 text-center">
                          <a href="images/logo.png" download="file" class="btn btn-link file-btn"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                          </a>
                        </td>
                        <td>
                          <button class="btn btn-primary" type="button" data-toggle='modal' data-target='#addMarksModal'>Rate</button>
                        </td>
                        <td>12-03-2019</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td class="text-capitalize">xyz</td>
                        <td class="text-capitalize">web designing</td>
                        <td class="text-capitalize">html</td>
                        <td class="text-capitalize text-center">
                          <a class="btn btn-link p-0 view-icon" role="button" data-toggle='modal' data-target='#taskDetailsMOdal'>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </a>
                        </td>
                        <td class="p-0 text-center">
                          <a href="images/logo.png" download="file" class="btn btn-link file-btn"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                          </a>
                        </td>
                        <td>
                          <button class="btn btn-primary" type="button" data-toggle='modal' data-target='#addMarksModal'>Rate</button>
                        </td>
                        <td>12-03-2019</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td class="text-capitalize">xyz</td>
                        <td class="text-capitalize">web designing</td>
                        <td class="text-capitalize">html</td>
                        <td class="text-capitalize text-center">
                          <a class="btn btn-link p-0 view-icon" role="button" data-toggle='modal' data-target='#taskDetailsMOdal'>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </a>
                        </td>
                        <td class="p-0 text-center">
                          <a href="images/logo.png" download="file" class="btn btn-link file-btn"><i class="fa fa-cloud-download" aria-hidden="true"></i>
                          </a>
                        </td>
                        <td>
                          <button class="btn btn-primary" type="button" data-toggle='modal' data-target='#addMarksModal'>Rate</button>
                        </td>
                        <td>12-03-2019</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- addMarksModal -->
    <div id="addMarksModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-capitalize">Add rate</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label>Add rating to practicles</label><br>
                <div class="star-rating">
                  <span class="fa fa-star" data-rating="1"></span>
                  <span class="fa fa-star" data-rating="2"></span>
                  <span class="fa fa-star" data-rating="3"></span>
                  <span class="fa fa-star" data-rating="4"></span>
                  <span class="fa fa-star" data-rating="5"></span>
                  <input type="hidden" name="whatever3" class="rating-value" value="3.0">
                </div>
              </div>
              <div class="form-group">
                <label>Write your comment</label>
                <textarea class="form-control"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- task detailes modal -->
    <div id="taskDetailsMOdal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-capitalize">task details</h4>
          </div>
          <div class="modal-body">
            <h4>heading</h4>
            <p class="m-tb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
            <p class="m-tb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- js includes -->
    <!-- jquery library -->
    <script src='js/jquery-3.3.1.min.js'></script>

    <!-- Latest bootstrap compiled JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>