<!DOCTYPE html>
<html>
  <head>
    <title>Website Name</title>
    <meta charset="utf-8"> 
    <base href="../">
   
    <!-- CSS -->
    <!-- favicon -->
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <!-- components css -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <!-- custom css stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- responsive css stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
   
  </head>
  <body>
    <div id="wrapper">
      <!-- header -->
      <header>
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="images/logo.png" alt="">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar1">
              <form class="navbar-form navbar-left" role="search">
                <button type="submit" class="btn btn-link"><i class="glyphicon glyphicon-search"></i></button>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
              <ul class="ht-right">
                <!-- notifications -->
                <li class="dropdown menu-parent">
                  <a class="btn btn-link dropdown-toggle noti-alert" type="button" id="notifictions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    <!-- alert -->
                    <small></small>
                  </a>
                  <ul class="dropdown-menu custom-menu" aria-labelledby="notifictions">
                    <!--menu header -->
                    <li class="custom-menu-header">Notifications</li>
                    <!--menu body -->
                    <li class="scrollable-container">
                      <!-- notification -->
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!--menu fooster -->
                    <li class="custom-menu-footer">
                      <a href="notifications.html">See all notifications</a>
                    </li>
                  </ul>
                </li>
                <!-- messages -->
                <li class="dropdown menu-parent">
                  <a class="btn btn-link dropdown-toggle" type="button" id="messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <!-- alert -->
                    <small></small>
                  </a>
                  <ul class="dropdown-menu custom-menu" aria-labelledby="notifictions">
                    <!--menu header -->
                    <li class="custom-menu-header">messages</li>
                    <!--menu body -->
                    <li class="scrollable-container">
                      <!-- notification -->
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!--menu fooster -->
                    <li class="custom-menu-footer">
                      <a href="inbox.html">See all messages</a>
                    </li>
                  </ul>
                </li>
                
                <!-- profile -->
                <li class="dropdown menu-parent">
                  <a href="javascript:void(0)" class="btn btn-link dropdown-toggle" type="button" id="profile-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="avatar"><img src="images/avatar.png" alt=""></span>
                  </a>
                  <!-- dropdown menu -->
                  <ul class="dropdown-menu profile-menu" aria-labelledby="profile-menu">
                    <li>
                      <a href="javascript:void(0)">
                        <span class="avatar">
                          <img src="images/avatar.png" alt="">
                        </span>
                        <span>Jhon Deo</span>
                      </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="profile-view.html"><i class="fa fa-user" aria-hidden="true"></i>view profile</a></li>
                    <li><a href="inbox.html"><i class="fa fa-envelope" aria-hidden="true"></i>My inbox</a></li>
                    <li><a href="pracicles-list.html"><i class="fa fa-tasks" aria-hidden="true"></i>my tasks</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- main navigation starts-->
      <div class="header-nav">
        <nav class="navbar bg-6" id="sticky-nav">
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li>
                <a href="student-coordinator/tasks.html">my tasks</a>
              </li>
              <li class="dropdown menu-parent">
                <a href="javascript:void(0)">unassigned students</a>
                <ul class="dropdown-menu dropdown-menu-right custom-menu">
                  <li>
                    <a href="student-coordinator/new-students.html" class="text-capitalize notification-content">new students</a>
                  </li>
                  <li>
                  <a href="student-coordinator/old-students.html" class="text-capitalize notification-content">old studnets</a>
                </li>
                </ul>
              </li>
              <li class="dropdown menu-parent">
                <a href="javascript:void(0)">Batches</a>
                <ul class="dropdown-menu dropdown-menu-right custom-menu">
                  <li>
                    <a href="student-coordinator/batch-list.html" class="text-capitalize notification-content">ongoing bacthes</a>
                  </li>
                  <li>
                    <a href="student-coordinator/unassigned-bacthes.html" class="text-capitalize notification-content">unassigned bacthes</a>
                  </li>
                  <li>
                    <a href="student-coordinator/expired-bacthes.html" class="text-capitalize notification-content">expired bacthes</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="student-coordinator/sc-students-list.html">students</a>
              </li>
              <li>
                <a href="student-coordinator/student-reviews.html">Student reviews</a>
              </li>
              <li>
                <a href="student-coordinator/sc-faculty-list.html">faculties</a>
              </li>
              <li class="active">
                <a href="student-coordinator/sc-faculty-list.html">faculty learning</a>
              </li>
              <li>
                <a href="student-coordinator/weekly-sessions.html">weekly sessions</a>
              </li>
              <li>
                <a href="student-coordinator/pending-topics.html">pending topics</a>
              </li>
              <li>
                <a href="student-coordinator/add-event.html">News / Events</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- main navigation ends here-->
      <main>
        <div class="content-wrapper">
          <div class="content-wrapper-before bg-6"></div>
          <div class="content-header">
            <h2 class="text-capitalize">Faculty Learnings</h2>
            <div class="header-elements scStdntsListTabs">
              <ul class="nav nav-pills nav-stacked">
                <li class="active" style="width: auto;"><a data-toggle="tab" href="#facultiesList" class="text-capitalize" aria-expanded="false">view faculties</a></li>
                <li style="width: auto;"><a data-toggle="tab" href="#onLearning" class="text-capitalize" aria-expanded="false">faculties on learning</a></li>
                <li style="width: auto;"><a data-toggle="tab" href="#addSkillTofaculty" class="text-capitalize" aria-expanded="false">add learnings to faculty</a></li>
              </ul>
            </div>
          </div>
          <div class="content-body">
            <div class="tab-content">
              <!-- facultiesList -->
              <div id="facultiesList" class="tab-pane fade in active">
                <div class="content-body" id="accordion">
                   <!-- faculty div loop -->
                   <div class="card">
                     <div class="card-content stuSummary">
                        <div class="fcTopbar">
                          <div class="topbar">
                            <div class="summary-heading">
                              <h3 class="text-capitalize">pradeep</h3>
                            </div>
                            <ul class="studActvStats1 faculty-info">
                              <!-- phone number -->
                              <li><b class="text-capitalize">Mobile No</b><span>9876543210</span>
                              </li>
                              <!-- /phone number -->

                              <!-- Emial Id -->
                              <li><b class="text-capitalize">Emial Id</b><span>info@gmail.com</span>
                              </li>
                              <!-- /Emial Id -->

                              <!-- Course -->
                              <li><b class="text-capitalize">Course</b><span>web designing<i class="fa fa-plus" title="web develpoment,andriod"></i></span>
                              </li>
                              <!-- /Course -->

                              <!-- No Of Batches -->
                              <li><b class="text-capitalize">No Of Batches</b><span>12</span>
                              </li>
                              <!-- /No Of Batches -->
                              
                              <!-- sklls view -->
                              <li><b class="text-capitalize">skills</b><span title="html,css,boostrap,javascript,jquery">12<i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                              </li>
                              <!-- Rating -->
                              <li>
                                <b class="text-capitalize">student rating</b>
                                <span class="star-rating">
                                  <small class="fa fa-star checked"></small>
                                  <small class="fa fa-star checked"></small>
                                  <small class="fa fa-star checked"></small>
                                  <small class="fa fa-star"></small>
                                  <small class="fa fa-star"></small>
                                </span>
                              </li>
                              <!-- /Rating -->
                            </ul>
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#faculty1" aria-expanded="true" aria-controls="faculty1" class="glyphicon glyphicon-chevron-down"></a>
                          </div>
                        </div>
                        <div id="faculty1" class="faculty-detailes collapse">
                          <div class="table-responsive">
                            <table class="table table-striped">
                              <caption class="h3 text-capitalize m-tb-10">batches</caption>
                              <thead>
                                <tr>
                                  <th class="text-capitalize">s no</th>
                                  <th class="text-capitalize">Batch Name</th>
                                  <th class="text-capitalize">Course Name</th>
                                  <th class="text-capitalize">skills</th>
                                  <th class="text-capitalize">No of Students</th>
                                  <th class="text-capitalize">Slot Time</th>
                                  <th class="text-capitalize">Batch Period</th>
                                  <th class="text-capitalize">Rating</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="text-capitalize">1</td>
                                  <td class="text-capitalize text-nowrap">Web - 1</td>
                                  <td class="text-capitalize text-nowrap">Web Designing</td>
                                  <td class="text-uppercase skils-column">
                                    <span class="badge">html</span>
                                    <span class="badge">css</span>
                                    <span class="badge">javascript</span>
                                  </td>
                                  <td class="text-capitalize text-nowrap">10</td>
                                  <td class="text-capitalize text-nowrap">10am - 11 am</td>
                                  <td class="text-capitalize text-nowrap">10-01-2019  to 10-04-2019</td>
                                  <td class="text-capitalize text-nowrap">
                                    <span class="star-rating custom-rating">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="text-capitalize">2</td>
                                  <td class="text-capitalize text-nowrap">Web - 2</td>
                                  <td class="text-capitalize text-nowrap">Web Designing</td>
                                  <td class="text-uppercase skils-column">
                                    <span class="badge">html</span>
                                    <span class="badge">css</span>
                                    <span class="badge">javascript</span>
                                  </td>
                                  <td class="text-capitalize text-nowrap">10</td>
                                  <td class="text-capitalize text-nowrap">10am - 11 am</td>
                                  <td class="text-capitalize text-nowrap">10-01-2019  to 10-04-2019</td>
                                  <td class="text-capitalize text-nowrap">
                                    <span class="star-rating custom-rating">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                    </span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                     </div>
                   </div>
                   <!-- faculty div loop -->
                   <div class="card">
                     <div class="card-content stuSummary">
                        <div class="fcTopbar">
                          <div class="topbar">
                            <div class="summary-heading">
                              <h3 class="text-capitalize">abhinay</h3>
                            </div>
                            <ul class="studActvStats1 faculty-info">
                              <!-- phone number -->
                              <li><b class="text-capitalize">Mobile No</b><span>9876543210</span>
                              </li>
                              <!-- /phone number -->

                              <!-- Emial Id -->
                              <li><b class="text-capitalize">Emial Id</b><span>info@gmail.com</span>
                              </li>
                              <!-- /Emial Id -->

                              <!-- Course -->
                              <li><b class="text-capitalize">Course</b><span>web designing<i class="fa fa-plus" title="web develpoment,andriod"></i></span>
                              </li>
                              <!-- /Course -->

                              <!-- No Of Batches -->
                              <li><b class="text-capitalize">No Of Batches</b><span>12</span>
                              </li>
                              <!-- /No Of Batches -->
                              <!-- sklls view -->
                              <li><b class="text-capitalize">skills</b><span title="html,css,boostrap,javascript,jquery">12<i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                              </li>
                              <!-- Rating -->
                                <li>
                                <b class="text-capitalize">student rating</b>
                                <span class="star-rating">
                                  <small class="fa fa-star checked"></small>
                                  <small class="fa fa-star checked"></small>
                                  <small class="fa fa-star checked"></small>
                                  <small class="fa fa-star"></small>
                                  <small class="fa fa-star"></small>
                                </span>
                              </li>
                              <!-- /Rating -->
                            </ul>
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#faculty2" aria-expanded="true" aria-controls="faculty2" class="glyphicon glyphicon-chevron-down"></a>
                          </div>
                        </div>
                        <div id="faculty2" class="faculty-detailes collapse">
                          <div class="table-responsive">
                            <table class="table table-striped">
                              <caption class="h3 text-capitalize m-tb-10">batches</caption>
                              <thead>
                                <tr>
                                  <th class="text-capitalize">s no</th>
                                  <th class="text-capitalize">Batch Name</th>
                                  <th class="text-capitalize">Course Name</th>
                                  <th class="text-capitalize">skills</th>
                                  <th class="text-capitalize">No of Students</th>
                                  <th class="text-capitalize">Slot Time</th>
                                  <th class="text-capitalize">Batch Period</th>
                                  <th class="text-capitalize">Rating</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="text-capitalize">1</td>
                                  <td class="text-capitalize text-nowrap">Web - 1</td>
                                  <td class="text-capitalize text-nowrap">Web Designing</td>
                                  <td class="text-uppercase skils-column">
                                    <span class="badge">html</span>
                                    <span class="badge">css</span>
                                    <span class="badge">javascript</span>
                                  </td>
                                  <td class="text-capitalize text-nowrap">10</td>
                                  <td class="text-capitalize text-nowrap">10am - 11 am</td>
                                  <td class="text-capitalize text-nowrap">10-01-2019  to 10-04-2019</td>
                                  <td class="text-capitalize text-nowrap">
                                    <span class="star-rating custom-rating">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="text-capitalize">2</td>
                                  <td class="text-capitalize text-nowrap">Web - 2</td>
                                  <td class="text-capitalize text-nowrap">Web Designing</td>
                                  <td class="text-uppercase skils-column">
                                    <span class="badge">html</span>
                                    <span class="badge">css</span>
                                    <span class="badge">javascript</span>
                                  </td>
                                  <td class="text-capitalize text-nowrap">10</td>
                                  <td class="text-capitalize text-nowrap">10am - 11 am</td>
                                  <td class="text-capitalize text-nowrap">10-01-2019  to 10-04-2019</td>
                                  <td class="text-capitalize text-nowrap">
                                    <span class="star-rating custom-rating">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                    </span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                     </div>
                   </div>
                   <!-- faculty div loop -->
                   <div class="card">
                     <div class="card-content stuSummary">
                        <div class="fcTopbar">
                          <div class="topbar">
                            <div class="summary-heading">
                              <h3 class="text-capitalize">vinay</h3>
                            </div>
                            <ul class="studActvStats1 faculty-info">
                              <!-- phone number -->
                              <li><b class="text-capitalize">Mobile No</b><span>9876543210</span>
                              </li>
                              <!-- /phone number -->

                              <!-- Emial Id -->
                              <li><b class="text-capitalize">Emial Id</b><span>info@gmail.com</span>
                              </li>
                              <!-- /Emial Id -->

                              <!-- Course -->
                              <li><b class="text-capitalize">Course</b><span>web designing<i class="fa fa-plus" title="web develpoment,andriod"></i></span>
                              </li>
                              <!-- /Course -->

                              <!-- No Of Batches -->
                              <li><b class="text-capitalize">No Of Batches</b><span>12</span>
                              </li>
                              <!-- /No Of Batches -->
                              <!-- sklls view -->
                              <li><b class="text-capitalize">skills</b><span title="html,css,boostrap,javascript,jquery">12<i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                              </li>
                              <!-- Rating -->
                              <li>
                                <b class="text-capitalize">student rating</b>
                                <span class="star-rating">
                                  <small class="fa fa-star checked"></small>
                                  <small class="fa fa-star checked"></small>
                                  <small class="fa fa-star checked"></small>
                                  <small class="fa fa-star"></small>
                                  <small class="fa fa-star"></small>
                                </span>
                              </li>
                              <!-- /Rating -->
                            </ul>
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#faculty3" aria-expanded="true" aria-controls="faculty3" class="glyphicon glyphicon-chevron-down"></a>
                          </div>
                        </div>
                        <div id="faculty3" class="faculty-detailes collapse">
                          <div class="table-responsive">
                            <table class="table table-striped">
                              <caption class="h3 text-capitalize m-tb-10">batches</caption>
                              <thead>
                                <tr>
                                  <th class="text-capitalize">s no</th>
                                  <th class="text-capitalize">Batch Name</th>
                                  <th class="text-capitalize">Course Name</th>
                                  <th class="text-capitalize">skills</th>
                                  <th class="text-capitalize">No of Students</th>
                                  <th class="text-capitalize">Slot Time</th>
                                  <th class="text-capitalize">Batch Period</th>
                                  <th class="text-capitalize">Rating</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="text-capitalize">1</td>
                                  <td class="text-capitalize text-nowrap">Web - 1</td>
                                  <td class="text-capitalize text-nowrap">Web Designing</td>
                                  <td class="text-uppercase skils-column">
                                    <span class="badge">html</span>
                                    <span class="badge">css</span>
                                    <span class="badge">javascript</span>
                                  </td>
                                  <td class="text-capitalize text-nowrap">10</td>
                                  <td class="text-capitalize text-nowrap">10am - 11 am</td>
                                  <td class="text-capitalize text-nowrap">10-01-2019  to 10-04-2019</td>
                                  <td class="text-capitalize text-nowrap">
                                    <span class="star-rating custom-rating">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="text-capitalize">2</td>
                                  <td class="text-capitalize text-nowrap">Web - 2</td>
                                  <td class="text-capitalize text-nowrap">Web Designing</td>
                                  <td class="text-uppercase skils-column">
                                    <span class="badge">html</span>
                                    <span class="badge">css</span>
                                    <span class="badge">javascript</span>
                                  </td>
                                  <td class="text-capitalize text-nowrap">10</td>
                                  <td class="text-capitalize text-nowrap">10am - 11 am</td>
                                  <td class="text-capitalize text-nowrap">10-01-2019  to 10-04-2019</td>
                                  <td class="text-capitalize text-nowrap">
                                    <span class="star-rating custom-rating">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                    </span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                     </div>
                   </div>
                   <!-- faculty div loop -->
                   <div class="card">
                     <div class="card-content stuSummary">
                        <div class="fcTopbar">
                          <div class="topbar">
                            <div class="summary-heading">
                              <h3 class="text-capitalize">akhil</h3>
                            </div>
                            <ul class="studActvStats1 faculty-info">
                              <!-- phone number -->
                              <li><b class="text-capitalize">Mobile No</b><span>9876543210</span>
                              </li>
                              <!-- /phone number -->

                              <!-- Emial Id -->
                              <li><b class="text-capitalize">Emial Id</b><span>info@gmail.com</span>
                              </li>
                              <!-- /Emial Id -->

                              <!-- Course -->
                              <li><b class="text-capitalize">Course</b><span>web designing<i class="fa fa-plus" title="web develpoment,andriod"></i></span>
                              </li>
                              <!-- /Course -->

                              <!-- No Of Batches -->
                              <li><b class="text-capitalize">No Of Batches</b><span>12</span>
                              </li>
                              <!-- /No Of Batches -->
                              
                              <!-- sklls view -->
                              <li><b class="text-capitalize">skills</b><span title="html,css,boostrap,javascript,jquery">12<i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                              </li>

                              <!-- Rating -->
                              <li>
                                <b class="text-capitalize">student rating</b>
                                <span class="star-rating">
                                  <small class="fa fa-star checked"></small>
                                  <small class="fa fa-star checked"></small>
                                  <small class="fa fa-star checked"></small>
                                  <small class="fa fa-star"></small>
                                  <small class="fa fa-star"></small>
                                </span>
                              </li>
                              <!-- /Rating -->
                            </ul>
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#faculty4" aria-expanded="true" aria-controls="faculty4" class="glyphicon glyphicon-chevron-down"></a>
                          </div>
                        </div>
                        <div id="faculty4" class="faculty-detailes collapse">
                          <div class="table-responsive">
                            <table class="table table-striped">
                              <caption class="h3 text-capitalize m-tb-10">batches</caption>
                              <thead>
                                <tr>
                                  <th class="text-capitalize">s no</th>
                                  <th class="text-capitalize">Batch Name</th>
                                  <th class="text-capitalize">Course Name</th>
                                  <th class="text-capitalize">skills</th>
                                  <th class="text-capitalize">No of Students</th>
                                  <th class="text-capitalize">Slot Time</th>
                                  <th class="text-capitalize">Batch Period</th>
                                  <th class="text-capitalize">Rating</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="text-capitalize">1</td>
                                  <td class="text-capitalize text-nowrap">Web - 1</td>
                                  <td class="text-capitalize text-nowrap">Web Designing</td>
                                  <td class="text-uppercase skils-column">
                                    <span class="badge">html</span>
                                    <span class="badge">css</span>
                                    <span class="badge">javascript</span>
                                  </td>
                                  <td class="text-capitalize text-nowrap">10</td>
                                  <td class="text-capitalize text-nowrap">10am - 11 am</td>
                                  <td class="text-capitalize text-nowrap">10-01-2019  to 10-04-2019</td>
                                  <td class="text-capitalize text-nowrap">
                                    <span class="star-rating custom-rating">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="text-capitalize">2</td>
                                  <td class="text-capitalize text-nowrap">Web - 2</td>
                                  <td class="text-capitalize text-nowrap">Web Designing</td>
                                  <td class="text-uppercase skils-column">
                                    <span class="badge">html</span>
                                    <span class="badge">css</span>
                                    <span class="badge">javascript</span>
                                  </td>
                                  <td class="text-capitalize text-nowrap">10</td>
                                  <td class="text-capitalize text-nowrap">10am - 11 am</td>
                                  <td class="text-capitalize text-nowrap">10-01-2019  to 10-04-2019</td>
                                  <td class="text-capitalize text-nowrap">
                                    <span class="star-rating custom-rating">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                    </span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                     </div>
                   </div>
                </div>
              </div>
              <!-- faculties on learning -->
              <div id="onLearning" class="tab-pane fade in">
                <!-- assigned faculties -->
                <div class="card">
                  <div class="card-header">
                    <h3>list of faculties learning</h3>
                    <div class="card-content">
                      <div class="table=responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th class="text-capitalize">s no</th>
                              <th class="text-capitalize">faculty name</th>
                              <th class="text-capitalize">course name</th>
                              <th class="text-capitalize">skills</th>
                              <th class="text-capitalize">due date</th>
                              <th class="text-capitalize">action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td class="text-capitalize">pradeep</td>
                              <td class="text-capitalize">web designing</td>
                              <td class="text-uppercase skils-column">
                                <span class="badge">html</span>
                                <span class="badge">css</span>
                                <span class="badge">javascript</span>
                              </td>
                              <td>10-05-2019</td>
                              <td>
                                <button class="btn btn-primary text-capitalize">done</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- add learnings to faculty -->
              <div id="addSkillTofaculty" class="tab-pane fade in">
                <div class="card">
                  <div class="card-header">
                    <div class="filets-nav p-tb-10 addSkills-fillters">
                      <!-- select faculty -->
                      <div class="form-group selctbox-filter">
                        <label>select faculty</label><br>
                        <select class="form-control">
                          <option class="text-capitalize">all</option>
                          <option class="text-capitalize">pradeep</option>
                          <option class="text-capitalize">abhinay</option>
                          <option class="text-capitalize">vinay</option>
                        </select>
                      </div>
                      
                      <div class="form-group selctbox-filter">
                        <label class="white">select due date</label><br>
                        <input type="date" class="form-control">
                      </div>
                      <!-- Dates -->
                      <div class="form-group">
                        <label class="text-capitalize"></label><br>
                        <button type="button" class="btn btn-primary assign_btn text-capitalize">assign</button>
                      </div>
                    </div>
                  </div>
                  <div class="card-header">
                    <h3>Add Learning Topics to Faculty</h3>
                    <!-- cources -->
                    <div class="skills-block">
                      <!-- web designing -->
                      <div class="course-category">
                        <div class="customradio">
                          <input type="radio" name="selectComapny">
                          <span>web designing</span>
                        </div>
                        <ul>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">adobe photoshop</span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">html</span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">css</span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">javascript</span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">juery</span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">amp</span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">sass</span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">
                                wordpress
                              </span>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <!-- web programing -->
                      <div class="course-category">
                        <div class="customradio">
                          <input type="radio" name="selectComapny">
                          <span>web programing</span>
                        </div>
                        <ul>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">adobe photoshop</span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">html</span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">css</span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">javascript</span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">juery</span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">amp</span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">sass</span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">
                                wordpress
                              </span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">
                                php
                              </span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">
                                my sql
                              </span>
                            </div>
                          </li>
                          <li>
                            <div class="customradio">
                              <input type="checkbox" name="selectComapny">
                              <span class="text-uppercase">
                                Angilar
                              </span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </main>
    </div>
   

    <!-- js includes -->
    <!-- jquery library -->
    <script src='js/jquery-3.3.1.min.js'></script>

    <!-- Latest bootstrap compiled JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>