<!DOCTYPE html>
<html>
  <head>
    <title>Website Name</title>
    <meta charset="utf-8"> 
    <base href="../">
    <!-- CSS -->
    <!-- favicon -->
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <!-- components css -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <!-- custom css stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- responsive css stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
   
  </head>
  <body>
    <div id="wrapper">
      <!-- header -->
      <header>
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="images/logo.png" alt="">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar1">
              <form class="navbar-form navbar-left" role="search">
                <button type="submit" class="btn btn-link"><i class="glyphicon glyphicon-search"></i></button>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
              <ul class="ht-right">
                <!-- notifications -->
                <li class="dropdown menu-parent">
                  <a class="btn btn-link dropdown-toggle noti-alert" type="button" id="notifictions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    <!-- alert -->
                    <small></small>
                  </a>
                  <ul class="dropdown-menu custom-menu" aria-labelledby="notifictions">
                    <!--menu header -->
                    <li class="custom-menu-header">Notifications</li>
                    <!--menu body -->
                    <li class="scrollable-container">
                      <!-- notification -->
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!--menu fooster -->
                    <li class="custom-menu-footer">
                      <a href="notifications.html">See all notifications</a>
                    </li>
                  </ul>
                </li>
                <!-- messages -->
                <li class="dropdown menu-parent">
                  <a class="btn btn-link dropdown-toggle" type="button" id="messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <!-- alert -->
                    <small></small>
                  </a>
                  <ul class="dropdown-menu custom-menu" aria-labelledby="notifictions">
                    <!--menu header -->
                    <li class="custom-menu-header">messages</li>
                    <!--menu body -->
                    <li class="scrollable-container">
                      <!-- notification -->
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!--menu fooster -->
                    <li class="custom-menu-footer">
                      <a href="inbox.html">See all messages</a>
                    </li>
                  </ul>
                </li>
                
                <!-- profile -->
                <li class="dropdown menu-parent">
                  <a href="javascript:void(0)" class="btn btn-link dropdown-toggle" type="button" id="profile-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="avatar"><img src="images/avatar.png" alt=""></span>
                  </a>
                  <!-- dropdown menu -->
                  <ul class="dropdown-menu profile-menu" aria-labelledby="profile-menu">
                    <li>
                      <a href="javascript:void(0)">
                        <span class="avatar">
                          <img src="images/avatar.png" alt="">
                        </span>
                        <span>Jhon Deo</span>
                      </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="profile-view.html"><i class="fa fa-user" aria-hidden="true"></i>view profile</a></li>
                    <li><a href="inbox.html"><i class="fa fa-envelope" aria-hidden="true"></i>My inbox</a></li>
                    <li><a href="pracicles-list.html"><i class="fa fa-tasks" aria-hidden="true"></i>my tasks</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- main navigation starts-->
      <!-- main navigation starts-->
      <div class="header-nav">
        <nav class="navbar bg-6" id="sticky-nav">
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li>
                <a href="student-coordinator/tasks.html">my tasks</a>
              </li>
              <li class="dropdown menu-parent">
                <a href="javascript:void(0)">unassigned students</a>
                <ul class="dropdown-menu dropdown-menu-right custom-menu">
                  <li>
                    <a href="student-coordinator/new-students.html" class="text-capitalize notification-content">new students</a>
                  </li>
                  <li>
                  <a href="student-coordinator/old-students.html" class="text-capitalize notification-content">old studnets</a>
                </li>
                </ul>
              </li>
              <li class="dropdown menu-parent">
                <a href="javascript:void(0)">Batches</a>
                <ul class="dropdown-menu dropdown-menu-right custom-menu">
                  <li>
                    <a href="student-coordinator/batch-list.html" class="text-capitalize notification-content">ongoing bacthes</a>
                  </li>
                  <li>
                    <a href="student-coordinator/unassigned-bacthes.html" class="text-capitalize notification-content">unassigned bacthes</a>
                  </li>
                  <li>
                    <a href="student-coordinator/expired-bacthes.html" class="text-capitalize notification-content">expired bacthes</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="student-coordinator/sc-students-list.html">students</a>
              </li>
              <li>
                <a href="student-coordinator/student-reviews.html">Student reviews</a>
              </li>
              <li>
                <a href="student-coordinator/sc-faculty-list.html">faculties</a>
              </li>
              <li>
                <a href="student-coordinator/weekly-sessions.html">weekly sessions</a>
              </li>
              <li class="active">
                <a href="student-coordinator/pending-topics.html">pending topics</a>
              </li>
              <li>
                <a href="student-coordinator/add-event.html">News / Events</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- main navigation ends here-->
      <main>
        <div class="content-wrapper">
          <div class="content-wrapper-before bg-6"></div>
          <!-- page title -->
          <div class="content-header">
            <h2>Pending topics</h2>
          </div>
          <!-- content -->
          <div class="content-body">
            <div class="pndnTpcs-wrapper clearfix">
              <!-- tabs -->
              <div class="col-md-3">
                <div class="card topics-tab-menu">
                  <div class="card-header">
                    <h3>list of modules</h3>
                  </div>
                  <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a data-toggle="tab" href="#htmlStudents">HTML5<span class="badge"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;10</span></a></li>
                    <li><a data-toggle="tab" href="#cssStudents">CSS3<span class="badge"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;20</span></a></li>
                    <li><a data-toggle="tab" href="#jsStudents">Javascript<span class="badge"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;8</span></a></li>
                    <li><a data-toggle="tab" href="#jqueryStudnets">Jquery<span class="badge"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;15</span></a></li>
                  </ul>
                </div>
              </div>
              <!-- tabs content -->
              <div class="col-md-9">
                <div class="card">
                  <div class="tab-content">
                    <div id="htmlStudents" class="tab-pane fade in active">
                      <div class="card-header">
                        <h3>list of students</h3>
                        <div class="header-elements">
                          <div class="form-group selctbox-filter">
                            <label for="sel1">Sort by :&nbsp;</label>
                            <select class="form-control">
                              <option disabled="" selected="" class="text-capitalize">select by topic</option>
                              <option class="text-capitalize">topic 1</option>
                              <option class="text-capitalize">topic 2</option>
                              <option class="text-capitalize">topic 3</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-striped custom-table">
                          <thead>
                            <tr>
                              <th class="text-capitalize">S no</th>
                              <th class="text-capitalize">Student Name</th>
                              <th class="text-capitalize">Batch Name</th>
                              <th class="text-capitalize">Batch Time</th>
                              <th class="text-capitalize">topic name</th>
                              <th class="text-capitalize">Reason</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div id="cssStudents" class="tab-pane fade">
                      <div class="card-header">
                        <h3>list of students</h3>
                        <div class="header-elements">
                          <div class="form-group selctbox-filter">
                            <label for="sel1">Sort by :&nbsp;</label>
                            <select class="form-control">
                              <option disabled="" selected="" class="text-capitalize">select by topic</option>
                              <option class="text-capitalize">topic 1</option>
                              <option class="text-capitalize">topic 2</option>
                              <option class="text-capitalize">topic 3</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-striped custom-table">
                          <thead>
                            <tr>
                              <th class="text-capitalize">S no</th>
                              <th class="text-capitalize">Student Name</th>
                              <th class="text-capitalize">Batch Name</th>
                              <th class="text-capitalize">Batch Time</th>
                              <th class="text-capitalize">topic name</th>
                              <th class="text-capitalize">Reason</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div id="jsStudents" class="tab-pane fade">
                      <div class="card-header">
                        <h3>list of students</h3>
                        <div class="header-elements">
                          <div class="form-group selctbox-filter">
                            <label for="sel1">Sort by :&nbsp;</label>
                            <select class="form-control">
                              <option disabled="" selected="" class="text-capitalize">select by topic</option>
                              <option class="text-capitalize">topic 1</option>
                              <option class="text-capitalize">topic 2</option>
                              <option class="text-capitalize">topic 3</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-striped custom-table">
                          <thead>
                            <tr>
                              <th class="text-capitalize">S no</th>
                              <th class="text-capitalize">Student Name</th>
                              <th class="text-capitalize">Batch Name</th>
                              <th class="text-capitalize">Batch Time</th>
                              <th class="text-capitalize">topic name</th>
                              <th class="text-capitalize">Reason</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div id="jqueryStudnets" class="tab-pane fade">
                      <div class="card-header">
                        <h3>list of students</h3>
                        <div class="header-elements">
                          <div class="form-group selctbox-filter">
                            <label for="sel1">Sort by :&nbsp;</label>
                            <select class="form-control">
                              <option disabled="" selected="" class="text-capitalize">select by topic</option>
                              <option class="text-capitalize">topic 1</option>
                              <option class="text-capitalize">topic 2</option>
                              <option class="text-capitalize">topic 3</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-striped custom-table">
                          <thead>
                            <tr>
                              <th class="text-capitalize">S no</th>
                              <th class="text-capitalize">Student Name</th>
                              <th class="text-capitalize">Batch Name</th>
                              <th class="text-capitalize">Batch Time</th>
                              <th class="text-capitalize">topic name</th>
                              <th class="text-capitalize">Reason</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>xyz</td>
                              <td>Bt - 01</td>
                              <td>11 - 12 am</td>
                              <td>html</td>
                              <td>Absent</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <!-- js includes -->
    <!-- jquery library -->
    <script src='js/jquery-3.3.1.min.js'></script>

    <!-- Latest bootstrap compiled JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <div class="modal fade text-center" id="theModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <h1>Lab 6</h1>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-heading text-center">
                Employee Information
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="text-right col-xs-2">Title:</div>
                  <div class="text-left col-xs-3" id="title"></div>
                  <div class="text-right col-xs-2">First:</div>
                  <div class="text-left col-xs-3" id="firstname"></div>
                </div>
                <div class="row">
                  <div class="text-right col-xs-2">Phone#</div>
                  <div class="text-left col-xs-3" id="phone"></div>
                  <div class="text-right col-xs-2">Email</div>
                  <div class="text-left col-xs-3" id="email"></div>
                </div>
                <div class="row">
                  <div class="text-right col-xs-2">Dept:</div>
                  <div class="text-left col-xs-3" id="departmentname"></div>
                  <div class="text-left col-xs-2">Surname:</div>
                  <div class="text-left col-xs-4">
                    <input type="text" placeholder="enter last name" id="TextBoxLastName" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="panel-footer">
                <input type="button" value="Find Employee" id="empbutton" />
                <div class="col-xs-10" id="lblstatus"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>