<!DOCTYPE html>
<html>
  <head>
    <title>Website Name</title>
    <meta charset="utf-8"> 
    <base href="../">
     
    <!-- CSS -->
    <!-- favicon -->
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <!-- components css -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <!-- custom css stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- responsive css stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
   
  </head>
  <body>
    <div id="wrapper">
      <!-- header -->
      <header>
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="images/logo.png" alt="">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar1">
              <form class="navbar-form navbar-left" role="search">
                <button type="submit" class="btn btn-link"><i class="glyphicon glyphicon-search"></i></button>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
              <ul class="ht-right">
                <!-- notifications -->
                <li class="dropdown menu-parent">
                  <a class="btn btn-link dropdown-toggle noti-alert" type="button" id="notifictions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    <!-- alert -->
                    <small></small>
                  </a>
                  <ul class="dropdown-menu custom-menu" aria-labelledby="notifictions">
                    <!--menu header -->
                    <li class="custom-menu-header">Notifications</li>
                    <!--menu body -->
                    <li class="scrollable-container">
                      <!-- notification -->
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!--menu fooster -->
                    <li class="custom-menu-footer">
                      <a href="notifications.html">See all notifications</a>
                    </li>
                  </ul>
                </li>
                <!-- messages -->
                <li class="dropdown menu-parent">
                  <a class="btn btn-link dropdown-toggle" type="button" id="messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <!-- alert -->
                    <small></small>
                  </a>
                  <ul class="dropdown-menu custom-menu" aria-labelledby="notifictions">
                    <!--menu header -->
                    <li class="custom-menu-header">messages</li>
                    <!--menu body -->
                    <li class="scrollable-container">
                      <!-- notification -->
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!--menu fooster -->
                    <li class="custom-menu-footer">
                      <a href="inbox.html">See all messages</a>
                    </li>
                  </ul>
                </li>
                
                <!-- profile -->
                <li class="dropdown menu-parent">
                  <a href="javascript:void(0)" class="btn btn-link dropdown-toggle" type="button" id="profile-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="avatar"><img src="images/avatar.png" alt=""></span>
                  </a>
                  <!-- dropdown menu -->
                  <ul class="dropdown-menu profile-menu" aria-labelledby="profile-menu">
                    <li>
                      <a href="javascript:void(0)">
                        <span class="avatar">
                          <img src="images/avatar.png" alt="">
                        </span>
                        <span>Jhon Deo</span>
                      </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="profile-view.html"><i class="fa fa-user" aria-hidden="true"></i>view profile</a></li>
                    <li><a href="inbox.html"><i class="fa fa-envelope" aria-hidden="true"></i>My inbox</a></li>
                    <li><a href="pracicles-list.html"><i class="fa fa-tasks" aria-hidden="true"></i>my tasks</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      
      <!-- main navigation starts-->
      <div class="header-nav">
        <nav class="navbar bg-4" id="sticky-nav">
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="recruiter/recruiter-dashboard.html">dahboard</a></li>
              <li class="active"><a href="recruiter/recruiter-current-jobs.html">current jobs</a></li>
              <li class="dropdown menu-parent">
                <a href="JavaScript:void(0)" class="dropdown-toggle" type="button" id="notifictions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">students</a>
                <ul class="dropdown-menu dropdown-menu-right custom-menu" aria-labelledby="notifictions">
                  <li><a href="recruiter/recruiter-students.html" class="text-capitalize notification-content">ready for placement</a></li>
                  <li><a href="recruiter/recruiter-interns.html" class="text-capitalize notification-content">ready for internship</a></li>
                  <li><a href="recruiter/recruiter-placed.html" class="text-capitalize notification-content">placed students</a></li>
                  <li><a href="recruiter/not-intrested.html" class="text-capitalize notification-content">not intrested</a></li>
                </ul>
              </li>
              <li><a href="recruiter/recruiter-companies-list.html">List of companies</a></li>
              <li><a href="recruiter/resume-buider.html">Resume builder</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- main navigation ends here-->
      <main>
        <div class="content-wrapper">
          <div class="content-wrapper-before bg-4"></div>
          <!-- page title -->
          <div class="content-header">
            <h2 class="text-capitalize">List of job Opening</h2>
            <div class="header-elements">
              <!-- <button class="btn btn-orange">Post New Job</button> -->
              <button class="btn btn-orange text-capitalize" type="button" data-toggle="modal" data-target="#addCompanyModal">Post New Job</button>
            </div>
          </div>
          <!-- content -->
          <div class="content-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-content">
                    <!-- filters -->
                    <div class="filets-nav">
                      <!-- search by skils -->
                      <div class="form-group selctbox-filter">
                        <label class="white">sort by skills :&nbsp;</label><br>
                        <input type="text" class="form-control" placeholder="enter skills">
                      </div>
                      <!-- search by course -->
                      <div class="form-group selctbox-filter">
                        <label class="white">sort by category :&nbsp;</label><br>
                        <select class="form-control">
                          <option class="text-capitalize">
                            all
                          </option>
                          <option class="text-capitalize">web designing</option>
                          <option class="text-capitalize">web programing</option>
                          <option class="text-capitalize">fullstack development</option>
                        </select>
                      </div>
                      
                      <div class="form-group selctbox-filter">
                        <label class="white">Sort by</label><br>
                        <select class="form-control">
                          <option class="text-capitalize">
                            all
                          </option>
                          <option>assigned</option>
                          <option>un assigned</option>
                        </select>
                      </div>
                      <!-- Dates -->
                      <div style="width: 500px;">
                        <label class="text-capitalize">select dates&nbsp;</label><br>
                        <div style="display: inline-block;vertical-align: middle;width: 50%;">
                          <div class="input-group">
                            <span class="input-group-addon">From</span>
                            <input type="date" class="form-control">
                            <span class="input-group-addon">To</span>
                            <input type="date" class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="card">
                    <div class="card-header p-0">
                      <div class="tabs-wrapper">
                        <ul class="nav nav-pills nav-stacked">
                          <li class="active"><a data-toggle="tab" href="#upcomingInterviews" class="text-capitalize">upcoming interviews</a></li>
                          <li><a data-toggle="tab" href="#previousInterviews" class="text-capitalize">previous interviews</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card-content p-0 m-tb-20">
                    <div class="tab-content">
                      <div id="upcomingInterviews" class="tab-pane fade in active p-0">
                        <div class="card rcts-posts-list">
                          <div class="rcr-post">
                            <!-- job icons -->
                            <div class="ctLogo">
                              <img src="images/event-1.jpg" alt="">
                            </div>
                            <div>
                              <h3 class="text-capitalize">company :&nbsp;<strong>infasta soft solutions</strong></h3>
                              <h3 class="text-capitalize">job role :&nbsp;<strong>ui developer</strong></h3>
                            </div>
                            <div>
                              <h3 class="text-capitalize">conatct person :&nbsp;<strong>xyz</strong></h3>
                              <h3 class="text-capitalize">conatct number :&nbsp;<strong>9876543210</strong></h3>
                            </div>
                            <div>
                              <h3 class="text-capitalize">emial id :&nbsp;<strong>info@gmial.com</strong></h3>
                              <h3 class="text-capitalize">salry :&nbsp;<strong>10k-15k</strong></h3>
                            </div>
                            <div class="dropdown">
                              <h3 class="text-capitalize">interview date :&nbsp;<strong>10-04-19</strong></h3>
                              <h3 class="text-capitalize">students attending :&nbsp;<strong class="dropdown-toggle" data-toggle="dropdown">10<i class="glyphicon glyphicon-chevron-down"></i></strong>
                              <ul class="dropdown-menu">
                                <li><a href="#">xyzx</a></li>
                                <li><a href="#">xyzx</a></li>
                                <li><a href="#">xyzx</a></li>
                              </ul></h3>
                            </div>
                            <div>
                              <button class="btn btn-link"  data-toggle="collapse" data-target="#post1">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                              </button>
                            </div>
                          </div>
                          <div id="post1" class="rctPostDeatils collapse">
                            <div class="row">
                              <div class="col-md-12">
                                <h3 class="m-0"><b>Discription &nbsp;</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</h3>
                              </div>
                              <div class="col-md-12">
                                <h3 class="m-0 skils-column">
                                  <b>skills &nbsp;</b>
                                  <span class="badge">html</span>
                                  <span class="badge">css</span>
                                  <span class="badge">javascript</span>
                                </h3>
                              </div>
                              <div class="col-md-12">
                                <h3 class="m-0">
                                  <b>address &nbsp;</b>
                                  <small>First Floor, Doshi Chambers, 3-6-327 & 328, Basheer Bagh, Hyderabad, Telangana 500029</small>
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card rcts-posts-list">
                          <div class="rcr-post">
                            <!-- job icons -->
                            <div class="ctLogo">
                              <img src="images/event-1.jpg" alt="">
                            </div>
                            <div>
                              <h3 class="text-capitalize">company :&nbsp;<strong>infasta soft solutions</strong></h3>
                              <h3 class="text-capitalize">job role :&nbsp;<strong>ui developer</strong></h3>
                            </div>
                            <div>
                              <h3 class="text-capitalize">conatct person :&nbsp;<strong>xyz</strong></h3>
                              <h3 class="text-capitalize">conatct number :&nbsp;<strong>9876543210</strong></h3>
                            </div>
                            <div>
                              <h3 class="text-capitalize">emial id :&nbsp;<strong>info@gmial.com</strong></h3>
                              <h3 class="text-capitalize">salry :&nbsp;<strong>10k-15k</strong></h3>
                            </div>
                            <div class="dropdown">
                              <h3 class="text-capitalize">interview date :&nbsp;<strong>10-04-19</strong></h3>
                              <h3 class="text-capitalize">students attending :&nbsp;<strong class="dropdown-toggle" data-toggle="dropdown">10<i class="glyphicon glyphicon-chevron-down"></i></strong>
                              <ul class="dropdown-menu">
                                <li><a href="#">xyzx</a></li>
                                <li><a href="#">xyzx</a></li>
                                <li><a href="#">xyzx</a></li>
                              </ul></h3>
                            </div>
                            <div>
                              <button class="btn btn-link"  data-toggle="collapse" data-target="#post2">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                              </button>
                            </div>
                          </div>
                          <div id="post2" class="rctPostDeatils collapse">
                            <div class="row">
                              <div class="col-md-12">
                                <h3 class="m-0"><b>Discription &nbsp;</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</h3>
                              </div>
                              <div class="col-md-12">
                                <h3 class="m-0 skils-column">
                                  <b>skills &nbsp;</b>
                                  <span class="badge">html</span>
                                  <span class="badge">css</span>
                                  <span class="badge">javascript</span>
                                </h3>
                              </div>
                              <div class="col-md-12">
                                <h3 class="m-0">
                                  <b>address &nbsp;</b>
                                  <small>First Floor, Doshi Chambers, 3-6-327 & 328, Basheer Bagh, Hyderabad, Telangana 500029</small>
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card rcts-posts-list">
                          <div class="rcr-post">
                            <!-- job icons -->
                            <div class="ctLogo">
                              <img src="images/event-1.jpg" alt="">
                            </div>
                            <div>
                              <h3 class="text-capitalize">company :&nbsp;<strong>infasta soft solutions</strong></h3>
                              <h3 class="text-capitalize">job role :&nbsp;<strong>ui developer</strong></h3>
                            </div>
                            <div>
                              <h3 class="text-capitalize">conatct person :&nbsp;<strong>xyz</strong></h3>
                              <h3 class="text-capitalize">conatct number :&nbsp;<strong>9876543210</strong></h3>
                            </div>
                            <div>
                              <h3 class="text-capitalize">emial id :&nbsp;<strong>info@gmial.com</strong></h3>
                              <h3 class="text-capitalize">salry :&nbsp;<strong>10k-15k</strong></h3>
                            </div>
                            <div class="dropdown">
                              <h3 class="text-capitalize">interview date :&nbsp;<strong>10-04-19</strong></h3>
                              <h3 class="text-capitalize">students attending :&nbsp;<strong class="dropdown-toggle" data-toggle="dropdown">10<i class="glyphicon glyphicon-chevron-down"></i></strong>
                              <ul class="dropdown-menu">
                                <li><a href="#">xyz</a></li>
                                <li><a href="#">abc</a></li>
                                <li><a href="#">axyz</a></li>
                              </ul></h3>
                            </div>
                            <div>
                              <button class="btn btn-link"  data-toggle="collapse" data-target="#post3">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                              </button>
                            </div>
                          </div>
                          <div id="post3" class="rctPostDeatils collapse">
                            <div class="row">
                              <div class="col-md-12">
                                <h3 class="m-0"><b>Discription &nbsp;</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</h3>
                              </div>
                              <div class="col-md-12">
                                <h3 class="m-0 skils-column">
                                  <b>skills &nbsp;</b>
                                  <span class="badge">html</span>
                                  <span class="badge">css</span>
                                  <span class="badge">javascript</span>
                                </h3>
                              </div>
                              <div class="col-md-12">
                                <h3 class="m-0">
                                  <b>address &nbsp;</b>
                                  <small>First Floor, Doshi Chambers, 3-6-327 & 328, Basheer Bagh, Hyderabad, Telangana 500029</small>
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="previousInterviews" class="tab-pane fade">
                        <div class="card rcts-posts-list">
                          <div class="rcr-post">
                            <!-- job icons -->
                            <div class="ctLogo">
                              <img src="images/event-1.jpg" alt="">
                            </div>
                            <div>
                              <h3 class="text-capitalize">company :&nbsp;<strong>infasta soft solutions</strong></h3>
                              <h3 class="text-capitalize">job role :&nbsp;<strong>ui developer</strong></h3>
                            </div>
                            <div>
                              <h3 class="text-capitalize">conatct person :&nbsp;<strong>xyz</strong></h3>
                              <h3 class="text-capitalize">conatct number :&nbsp;<strong>9876543210</strong></h3>
                            </div>
                            <div >
                              <h3 class="text-capitalize text-info dropdown">students attending :&nbsp;<strong class="dropdown-toggle" data-toggle="dropdown">10<i class="glyphicon glyphicon-chevron-down"></i></strong>
                              <ul class="dropdown-menu">
                                <li><a href="#">xyzx</a></li>
                                <li><a href="#">xyzx</a></li>
                                <li><a href="#">xyzx</a></li>
                              </ul></h3>
                              <h3 class="text-capitalize text-warning dropdown">students attended :&nbsp;<strong class="dropdown-toggle" data-toggle="dropdown">10<i class="glyphicon glyphicon-chevron-down"></i></strong>
                              <ul class="dropdown-menu">
                                <li><a href="#">xyzx</a></li>
                                <li><a href="#">xyzx</a></li>
                                <li><a href="#">xyzx</a></li>
                              </ul></h3>
                            </div>
                            <div>
                              <h3 class="text-capitalize text-success dropdown">students selected :&nbsp;<strong class="dropdown-toggle" data-toggle="dropdown">10<i class="glyphicon glyphicon-chevron-down"></i></strong>
                              <ul class="dropdown-menu">
                                <li><a href="#">xyzx</a></li>
                                <li><a href="#">xyzx</a></li>
                                <li><a href="#">xyzx</a></li>
                              </ul></h3>
                              <h3 class="text-capitalize text-danger dropdown">students rejected :&nbsp;<strong class="dropdown-toggle" data-toggle="dropdown">10<i class="glyphicon glyphicon-chevron-down"></i></strong>
                              <ul class="dropdown-menu">
                                <li><a href="#">xyzx</a></li>
                                <li><a href="#">xyzx</a></li>
                                <li><a href="#">xyzx</a></li>
                              </ul></h3>
                            </div>
                            <div>
                              <button class="btn btn-link"  data-toggle="collapse" data-target="#post4">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                              </button>
                            </div>
                          </div>
                          <div id="post4" class="rctPostDeatils collapse">
                            <div class="row">
                              <div class="col-md-12">
                                <h3 class="m-0"><b>Discription &nbsp;</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</h3>
                              </div>
                              <div class="col-md-12">
                                <h3 class="m-0 skils-column">
                                  <b>skills &nbsp;</b>
                                  <span class="badge">html</span>
                                  <span class="badge">css</span>
                                  <span class="badge">javascript</span>
                                </h3>
                              </div>
                              <div class="col-md-12">
                                <h3 class="m-0 skils-column">
                                  <b>salary &nbsp;</b>10k -15k
                                </h3>
                              </div>
                              <div class="col-md-12">
                                <h3 class="m-0 skils-column">
                                  <b>interview date &nbsp;</b>10-01-19
                                </h3>
                              </div>
                              <div class="col-md-12">
                                <h3 class="m-0">
                                  <b>address &nbsp;</b>
                                  <small>First Floor, Doshi Chambers, 3-6-327 & 328, Basheer Bagh, Hyderabad, Telangana 500029</small>
                                </h3>
                              </div>
                              <div class="col-md-12">
                                <h3 class="m-0 skils-column">
                                  <b>email id &nbsp;</b>info@gmail.com
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- addCompanyModal -->
    <div class="modal fade" id="addCompanyModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-capitalize">Recruiter Post New Job</h4>
          </div>
          <div class="modal-body">
            <form class="addComapnyForm">
              <!-- company name -->
              <div class="form-group">
                <label class="text-capitalize">company</label>
                <input class="form-control" type="text" placeholder="company name">
              </div>
              <!-- job title -->
              <div class="form-group">
                <label class="text-capitalize">job title</label>
                <input class="form-control" type="text" placeholder="company name">
              </div>
              <!-- job category -->
              <div class="form-group">
                <label class="text-capitalize">job category</label>
                <input class="form-control" type="text" placeholder="company name">
              </div>
              <!-- job Description -->
              <div class="form-group">
                <label class="text-capitalize">job Description</label>
                <input class="form-control" type="text" placeholder="company name">
              </div>
              <!-- skills -->
              <div class="form-group">
                <label class="text-capitalize">skills</label>
                <input class="form-control" type="text" placeholder="company name">
              </div>
              <!-- Anual CTC -->
              <div class="form-group">
                <label>Anual CTC</label>
                <div class="input-group">
                  <span class="input-group-addon">From</span>
                  <input type="number" class="form-control">
                  <span class="input-group-addon">To</span>
                  <input type="number" class="form-control">
                </div>
              </div>
              <!-- Contact Person -->
              <div class="form-group">
                <label class="text-capitalize">Contact Person</label>
                <input class='form-control' type="text" placeholder="name">
              </div>

              <!-- Contact Number -->
              <div class="form-group">
                <label class="text-capitalize">Contact Number</label>
                <input class="form-control" type="number" placeholder="phone number">
              </div>
              <!-- email id -->
              <div class="form-group">
                <label class="text-capitalize">email id</label>
                <input class="form-control" type="email" placeholder="Email id">
              </div>
              <!-- adress -->
              <div class="form-group">
                <label class="text-capitalize">adress</label>
                <textarea class="form-control" rows="1"></textarea>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">submit</button>
          </div>
        </div>
        
      </div>
    </div>
    
    
    <!-- js includes -->
    <!-- jquery library -->
    <script src='js/jquery-3.3.1.min.js'></script>

    <!-- Latest bootstrap compiled JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>