<!DOCTYPE html>
<html>
  <head>
    <title>Website Name</title>
    <meta charset="utf-8"> 
    <base href="../">
    
    <!-- CSS -->
    <!-- favicon -->
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <!-- components css -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <!-- custom css stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- responsive css stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
   
  </head>
  <body>
    <div id="wrapper">
      <!-- header -->
      <header>
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="images/logo.png" alt="">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar1">
              <form class="navbar-form navbar-left" role="search">
                <button type="submit" class="btn btn-link"><i class="glyphicon glyphicon-search"></i></button>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
              <ul class="ht-right">
                <!-- notifications -->
                <li class="dropdown menu-parent">
                  <a class="btn btn-link dropdown-toggle noti-alert" type="button" id="notifictions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    <!-- alert -->
                    <small></small>
                  </a>
                  <ul class="dropdown-menu custom-menu" aria-labelledby="notifictions">
                    <!--menu header -->
                    <li class="custom-menu-header">Notifications</li>
                    <!--menu body -->
                    <li class="scrollable-container">
                      <!-- notification -->
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!--menu fooster -->
                    <li class="custom-menu-footer">
                      <a href="notifications.html">See all notifications</a>
                    </li>
                  </ul>
                </li>
                <!-- messages -->
                <li class="dropdown menu-parent">
                  <a class="btn btn-link dropdown-toggle" type="button" id="messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <!-- alert -->
                    <small></small>
                  </a>
                  <ul class="dropdown-menu custom-menu" aria-labelledby="notifictions">
                    <!--menu header -->
                    <li class="custom-menu-header">messages</li>
                    <!--menu body -->
                    <li class="scrollable-container">
                      <!-- notification -->
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content unread">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                      <a href="#" class="notification-content">
                        <div class="media">
                          <div class="media-left media-middle av">
                            <span class="avatar">
                              <img src="images/avatar.png" class="media-object">
                            </span>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Jhon Deo</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet</p>
                            <small class="text-muted">03:50 pm</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!--menu fooster -->
                    <li class="custom-menu-footer">
                      <a href="inbox.html">See all messages</a>
                    </li>
                  </ul>
                </li>
                
                <!-- profile -->
                <li class="dropdown menu-parent">
                  <a href="javascript:void(0)" class="btn btn-link dropdown-toggle" type="button" id="profile-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="avatar"><img src="images/avatar.png" alt=""></span>
                  </a>
                  <!-- dropdown menu -->
                  <ul class="dropdown-menu profile-menu" aria-labelledby="profile-menu">
                    <li>
                      <a href="javascript:void(0)">
                        <span class="avatar">
                          <img src="images/avatar.png" alt="">
                        </span>
                        <span>Jhon Deo</span>
                      </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="profile-view.html"><i class="fa fa-user" aria-hidden="true"></i>view profile</a></li>
                    <li><a href="inbox.html"><i class="fa fa-envelope" aria-hidden="true"></i>My inbox</a></li>
                    <li><a href="pracicles-list.html"><i class="fa fa-tasks" aria-hidden="true"></i>my tasks</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- main navigation starts-->
      <div class="header-nav">
        <nav class="navbar bg-3" id="sticky-nav">
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="lab-faculty/lf-today-practicles.html">Today's practicals</a></li>
              <li><a href="lab-faculty/lf-pending-practicles.html">Pending practicals</a></li>
              <li><a href="lab-faculty/lf-practicle-review.html">Rate Daily Practicals</a></li>
              <li><a href="lab-faculty/lf-pacticals-list.html">Practicals List</a></li>
              <li><a href="lab-faculty/lf-studnets-list.html">My students</a></li>
              <li><a href="lab-faculty/lf-rating.html">My Rating</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- main navigation ends here-->
      <main>
        <div class="content-wrapper">
          <div class="content-wrapper-before bg-3"></div>
          <!-- page title -->
          <div class="content-header">
            <h2 class="text-capitalize">student name</h2>
            <div class="text-capitalize white p-tb-10">practicals deatiles :&nbsp; avg&nbsp;<span class="badge">&nbsp;90%</span></div>
            <div class="header-elements">
              <a href="lab-faculty/lf-studnets-list.html" class="btn btn-info text-capitalize" style="width: 200px;">students list</a>
            </div>
          </div>
          
          <!-- content -->
          <div class="content-body">
            <div class="pndnTpcs-wrapper clearfix">
              <!-- tabs -->
              <div class="col-md-3">
                <div class="card topics-tab-menu lfModulesList">
                  <div class="card-header">
                    <h3>list of modules</h3>
                  </div>
                  <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a data-toggle="tab" href="#htmlPracticles">HTML<span class="badge">&nbsp;90%</span></a></li>
                    <li><a data-toggle="tab" href="#cssPracticles">CSS<span class="badge">&nbsp;70%</span></a></li>
                    <li><a data-toggle="tab" href="#jsPracticles">javscript<span class="badge">&nbsp;50%</span></a></li>
                  </ul>
                </div>
              </div>
              <!-- tabs content -->
              <div class="col-md-9">
                <div class="tab-content">
                  <!-- html -->
                  <div id="webDesignList" class="tab-pane fade in active">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="text-uppercase">HTML</h3>
                      </div>
                      <div class="card-content">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th class="text-capitalize">S no</th>
                              <th class="text-capitalize">topic name</th>
                              <th class="text-capitalize">Status</th>
                              <th class="text-capitalize">performance</th>
                              <th class="text-capitalize">Faculty comments</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td class="text-capitalize">HTML Head</td>
                              <td class="text-capitalize">done</td>
                              <td>
                                <div class="progress custom-progress">
                                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">70%
                                  </div>
                                </div>
                              </td>
                              <td>
                                <button type="button" class ="btn btn-primary btn-sm text-capitalize">view</button>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td class="text-capitalize">HTML Head</td>
                              <td class="text-capitalize">done</td>
                              <td>
                                <div class="progress custom-progress">
                                  <div class="progress-bar progress-bar-sucess progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">90%
                                  </div>
                                </div>
                              </td>
                              <td>
                                <button type="button" class ="btn btn-primary btn-sm text-capitalize">view</button>
                              </td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td class="text-capitalize">HTML Head</td>
                              <td class="text-capitalize">done</td>
                              <td>
                                <div class="progress custom-progress">
                                  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">70%
                                  </div>
                                </div>
                              </td>
                              <td>
                                <button type="button" class ="btn btn-primary btn-sm text-capitalize">view</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- css -->
                  <div id="cssPracticles" class="tab-pane fade">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="text-uppercase">css</h3>
                      </div>
                      <div class="card-content">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th class="text-capitalize">S no</th>
                              <th class="text-capitalize">topic name</th>
                              <th class="text-capitalize">Status</th>
                              <th class="text-capitalize">performance</th>
                              <th class="text-capitalize">Faculty comments</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td class="text-capitalize">HTML Head</td>
                              <td class="text-capitalize">done</td>
                              <td>
                                <div class="progress custom-progress">
                                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">70%
                                  </div>
                                </div>
                              </td>
                              <td>
                                <button type="button" class ="btn btn-primary btn-sm text-capitalize">view</button>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td class="text-capitalize">HTML Head</td>
                              <td class="text-capitalize">done</td>
                              <td>
                                <div class="progress custom-progress">
                                  <div class="progress-bar progress-bar-sucess progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">90%
                                  </div>
                                </div>
                              </td>
                              <td>
                                <button type="button" class ="btn btn-primary btn-sm text-capitalize">view</button>
                              </td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td class="text-capitalize">HTML Head</td>
                              <td class="text-capitalize">done</td>
                              <td>
                                <div class="progress custom-progress">
                                  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">70%
                                  </div>
                                </div>
                              </td>
                              <td>
                                <button type="button" class ="btn btn-primary btn-sm text-capitalize">view</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- javascript -->
                  <div id="jsPracticles" class="tab-pane fade">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="text-uppercase">javascript</h3>
                      </div>
                      <div class="card-content">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th class="text-capitalize">S no</th>
                              <th class="text-capitalize">topic name</th>
                              <th class="text-capitalize">Status</th>
                              <th class="text-capitalize">performance</th>
                              <th class="text-capitalize">Faculty comments</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td class="text-capitalize">HTML Head</td>
                              <td class="text-capitalize">done</td>
                              <td>
                                <div class="progress custom-progress">
                                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">70%
                                  </div>
                                </div>
                              </td>
                              <td>
                                <button type="button" class ="btn btn-primary btn-sm text-capitalize">view</button>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td class="text-capitalize">HTML Head</td>
                              <td class="text-capitalize">done</td>
                              <td>
                                <div class="progress custom-progress">
                                  <div class="progress-bar progress-bar-sucess progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">90%
                                  </div>
                                </div>
                              </td>
                              <td>
                                <button type="button" class ="btn btn-primary btn-sm text-capitalize">view</button>
                              </td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td class="text-capitalize">HTML Head</td>
                              <td class="text-capitalize">done</td>
                              <td>
                                <div class="progress custom-progress">
                                  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">70%
                                  </div>
                                </div>
                              </td>
                              <td>
                                <button type="button" class ="btn btn-primary btn-sm text-capitalize">view</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
      </main>
    </div>
    
    <!-- js includes -->
    <!-- jquery library -->
    <script src='js/jquery-3.3.1.min.js'></script>

    <!-- Latest bootstrap compiled JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script type="text/javascript" src="slick/slick.min.js"></script>
    
  </body>
</html>